<template lang="pug">
  v-container#city-page(fluid)
    v-slide-y-transition(mode="out-in")
      v-layout(fill-height)
        v-flex(xs12 v-if="city")
          //- v-btn#add-to-favorites(fab depressed)
            v-icon(color="white") fa-heart
          //- .cover-image(v-if="city.CoverImage" :style="{ backgroundImage: getImageUrl(true, city.CoverImage.ID, city.CoverImage.ImageExtension, city.CoverImage.ImageDateLastUpdated, 'lg') }")

          v-layout#image-gallery.pl-4.pr-4(row)
            v-flex.city-stats(xs12 sm-10 offset-sm-1)
              a.image-panel(v-for="(image,index) in firstFourImages" :key="image.ID" @click="openGallery(index)")
                .img(:style="{ backgroundImage: getImageUrl(true, image.ID, image.ImageExtension, image.ImageDateLastUpdated, 'md') }")
                  //.text-veil
                  //.image-title {{ image.Title }}


          v-layout.pl-4.pr-4#city-title-panel(row wrap)
            v-flex#city-info(xs12 sm10 offset-sm-1)
              div.city-and-country-info.mb-4
                div.city-ratings
                  h1.text-xs-left {{ city.Name }}

                  .rating
                    .star
                      v-icon fa-star
                    .vote
                      h3 {{ city.Rating.toFixed(1) }}
                        em / 10
                      .vote-count {{ fmtNumberUS(city.RatingsCount) }}

                  #my-rating.rating
                    #vote-backdrop(v-if="nowVoting" @click.stop.prevent="nowVoting=false")
                    v-speed-dial(v-if="city.UserEmail" v-model="nowVoting" right transition="slide-x-transition")
                      template(v-slot:activator)
                        .star
                          v-icon(class=`${myRating?'':'noVote'}`) fa-star
                        .vote
                          h3(v-if="myRating") {{ myRating }}
                          h4(v-else) RATE!
                          .vote-count(v-if="myRating") You
                          .vote-count(v-else) What about you?
                      #vote-panel
                        v-rating(
                          v-model="myRating"
                          :length="10"
                          empty-icon="fal fa-star"
                          full-icon="fa-star"
                          size="22"
                          hover
                          dense
                          color="#81C784"
                          background-color="grey lighten-1"
                        )
                        .spacer
                        v-tooltip(top color="red")
                          template(v-slot:activator="{ on }")
                            v-icon#delete-rating(v-on="on" @click="myRating=null") fa-eraser
                          span Erase my rating
                    div(v-else @click.stop.prevent="ShowLoginDialog=true")
                      .star
                        v-icon fa-star
                      .vote
                        h4 RATE!
                        .vote-count(v-if="myRating") You
                        .vote-count(v-else) What's yours?

                div.other-ratings
                  .rating.global-rating
                    .star
                      v-icon fa-globe
                    .vote
                      h3 \#{{ city.GlobalPositionWorldwide }}
                        em / {{ city.NumCitiesWorldwide }}
                      .vote-count in the world

                  .rating.continental-rating
                    .star
                      v-icon(v-if="city.Country.Continent.Name.toLowerCase()==='europe'") fa-globe-europe
                      v-icon(v-else-if="city.Country.Continent.Name.toLowerCase()==='asia'") fa-globe-asia
                      v-icon(v-else-if="city.Country.Continent.Name.toLowerCase()==='north america'") fa-globe-americas
                      v-icon(v-else-if="city.Country.Continent.Name.toLowerCase()==='south america'") fa-globe-americas
                      v-icon(v-else-if="city.Country.Continent.Name.toLowerCase()==='africa'") fa-globe-africa
                      v-icon(v-else-if="city.Country.Continent.Name.toLowerCase()==='australia'") fa-globe-asia
                      v-icon(v-else) fal fa-globe-asia
                    .vote
                      h3 \#{{ city.GlobalPositionContinent }}
                        em / {{ city.NumCitiesContinent }}
                      .vote-count in {{ city.Country.Continent.Name }}

                  .country-rating.hidden-sm-and-down
                    v-tooltip(top color="primary")
                      template(v-slot:activator="{ on }")
                        #country-flag(v-on="on" :class="`flag-icon-${city.Country.Alpha2.toLowerCase()}`")
                      span {{ city.Country.Name }}

                    //- h2 {{ city.Country.Name }}
                    //- #country-flag(v-on="on" :class="`flag-icon-${city.Country.Alpha2.toLowerCase()}`")
                    .rating
                      .vote
                        h3 {{ city.CountryRating.toFixed(1) }}
                          em / 10
                        .vote-count {{ fmtNumberUS(city.CountryRatingsCount) }}

                  div(style="clear:both")

                div(style="clear:both")
              .city-stats.pt-2

                .box.required-budget
                  .rating
                    v-icon fal fa-coins
                    .vote
                      // h3 ${{ city.RequiredBudget.toFixed(2) }}
                      h3
                        template(v-for="ndx in 5")
                          i(:class="(ndx <= city.RequiredBudget ? 'fa fa-usd-circle' : 'fal fa-usd-circle')")
                          //- v-icon(v-if="ndx < city.RequiredBudget") fa-usd-circle
                          //- v-icon(v-else) fal fa-usd-circle
                    .vote-count Required Budget

                .box.recommended-stay
                  .rating
                    .vote
                      h3 {{ city.RecommendedStay }}
                    .vote-count Recommended Stay
                    v-icon fal fa-calendar-alt

                .box.safety-rating
                  .rating
                    .vote
                      h3 \#{{ city.CEOWorldSafetyRating }}
                    .vote-count CEO World Safety Rating
                    v-icon fas fa-shield-alt

                .box.quality-of-living
                  .rating
                    .vote
                      h3 \#{{ city.MercerQualityOfLiving }}
                    .vote-count Mercer Quality of Living
                    v-icon fa-hand-receiving


                .box.population
                  .rating
                    .vote
                      h3 {{ city.Population }}
                    .vote-count Size
                    v-icon far fa-users

                .box.airports
                  .rating
                    .vote
                      h3 {{ city.Airports }}
                    .vote-count Airports
                    v-icon fal fa-plane-alt

                //- .box.country
                  .rating
                    v-tooltip(top color="primary")
                      template(v-slot:activator="{ on }")
                        #country-flag(v-on="on" :class="`flag-icon-${city.Country.Alpha2.toLowerCase()}`")
                      span {{ city.Country.Name }}






          v-layout.mt-5.pl-4.pr-4#city-title-panel(row wrap)
            v-flex#city-info(xs12 sm10 offset-sm-1)
              div.pl-2.pt-4#review
                v-dialog(v-if="city.UserEmail" v-model="writingReview" max-width="800")
                  template(v-slot:activator="{ on }")
                    h2.text-left
                      v-btn(v-on="on" color="info" large text)
                        v-icon.mr-2 fa-comment-plus
                        span(v-if="city && city.UserVote && city.UserVote.ReviewText") Update your comment
                        span(v-else) Write a comment
                  v-card
                    v-toolbar(dark color="primary" flat)
                      v-toolbar-title
                        h5 <span class='hidden-xs-only'>Submit</span> Your comment
                      v-spacer
                      v-toolbar-items
                        v-btn.px-0(@click="writingReview=false" text dark small)
                          v-icon fa-times-circle
                    br
                    br
                    label Your Rating
                    v-rating(
                          v-model="myRating"
                          :length="10"
                          empty-icon="fal fa-star"
                          full-icon="fa-star"
                          size="22"
                          hover
                          dense
                          color="#81C784"
                          background-color="grey lighten-1"
                        )
                    br
                    v-card-text.py-5
                      v-textarea(
                        outlined
                        full-width
                        rows="8"
                        counter="512"
                        :rules="reviewRules"
                        v-model="reviewText"
                        placeholder="How to write a comment? Just be yourself. Include anecdotes, express your enthusiasm, and showcase your positivity. You can mention things you enjoyed, what activities appealed to you."
                      )
                    v-divider
                    v-card-actions
                      v-spacer
                      v-btn.px-5(color="primary" large @click="submitReview" :disabled="!reviewFormValid()")
                        v-icon.mr-3 far fa-check-circle
                        span Submit
                      v-spacer

                v-btn(color="info" large text @click="ShowLoginDialog=true" v-if="!city.UserEmail")
                  v-icon.mr-2 fa-comment
                  span Log in to write a comment

              div.pl-2.pt-2
                v-list(three-line)
                  template(v-for="(item, index) in city.Reviews")
                    v-divider.pb-5(:key="-1-index")
                    v-list-item.pb-5(:key="index")
                      v-list-item-avatar
                        div.pt-4
                          v-btn(icon small @click="voteUp(item.ID)")
                            v-icon(size="16") far fa-arrow-alt-up
                          h2(:class="(item.ReviewPositiveVotes - item.ReviewNegativeVotes > 0) ? 'green--text text--darken-2' : (item.ReviewPositiveVotes - item.ReviewNegativeVotes < 0) ? 'red--text text--darken-2' : 'blue-grey--text text--lighten-2' ") {{ item.ReviewPositiveVotes - item.ReviewNegativeVotes }}
                          v-btn(icon small @click="voteDown(item.ID)")
                            v-icon(size="16") far fa-arrow-alt-down

                      v-list-item-content
                        v-list-item-title.indigo--text.text--darken-2 <b>{{ item.Name }}</b>
                          small.pl-5(v-if="item.IsMine").blue-grey--text.text--lighten-3 (your comment)
                          div.review-date {{ formatDate(item.LastUpdate, "MMM dd, yyyy")}}
                        v-list-item-subtitle.pt-2 {{ item.ReviewText }}

          //- v-layout(row)
            v-flex#famous-landmarks.pa-3.pt-5(xs12)
              h2 FAMOUS LANDMARKS


          LightBox(:images="gallery(city.ImageGallery)" ref="lightbox" :show-caption="false" :show-light-box="false")

          v-dialog(v-model="ShowLoginDialog" width="35em")
            v-card#authenticate
              v-card-title.headline We need to identify who you are
              v-card-text We need to connect votes with real people.<br>Please choose from the following list of available social networks:
              v-divider
              v-card-actions.pl-5.pt-3.pb-3#social-networks
                v-btn.px-4(large :href="getSignInUrl('Facebook')" color="primary" dark) <v-icon>fab fa-facebook</v-icon> Facebook
                v-btn.px-4(large :href="getSignInUrl('Google')" color="red darken-2" dark) <v-icon>fab fa-google-plus</v-icon> Google

</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { State, Getter, Mutation, Action } from 'vuex-class'
import { City, CityImage, CityAPI, newCity } from '@/api/models/city'
import { Config } from '@/code/config'
// @ts-ignore
import LightBox from 'vue-image-lightbox'
import { BaseView } from '@/code/baseView'

// @ts-ignore
@Component({ components: { LightBox } })
export default class CityPage extends BaseView {
  @Mutation setLoading: any
  loading = false

  imgRoot = Config.imgRoot

  slug: string = ''
  city: City = newCity()

  nowVoting: boolean = false
  myRating: number | null = null
  ShowLoginDialog: boolean = false

  writingReview: boolean = false
  reviewText: string = ''

  reviewRules: Array<(v: string) => boolean | string> = [
    (v: string) => !!v || 'Required',
    (v: string) => v.length <= 512 || 'Max 512 characters',
  ]

  async mounted() {
    this.loadData(this.$route.params.slug)
    window.scrollTo(0, 0)
  }

  async loadData(sl: string) {
    this.slug = sl
    this.setLoading({ready: false})
    this.loading = true
    const api = new CityAPI(this.$store)
    const thisCity = await api.load(this.slug)
    Vue.set(this, 'city', thisCity)
    if (thisCity.UserVote) {
      this.myRating = thisCity.UserVote.Rating
      this.reviewText = thisCity.UserVote.ReviewText || ''
    }
    this.setLoading({ready: true})
    this.$nextTick(() => {
      this.loading = false
    })
  }

  get firstFourImages() {
    return this.city.ImageGallery.slice(0, 4)
  }

  gallery(lst: CityImage[]) {
    if (!this.city || !this.city.ImageGallery) {
      return []
    }
    const result = lst.map( (rec) => {
      return {
        thumb: this.getImageUrl(false, rec.ID, rec.ImageExtension, rec.DateLastUpdated, 'md'),
        src: this.getImageUrl(false, rec.ID, rec.ImageExtension, rec.DateLastUpdated, 'xl'),
        // caption: rec.Title
      }
    })

    return result
  }

  fmtNumberUS(n: number) {
    return Intl.NumberFormat('en-US').format(n)
  }

  getImageUrl(cssWrap: boolean, ImageID: number, ImageExtension: string, ImageDateLastUpdated: string, size?: string) {
    if (this.city!.ID === 0 || ImageID === 0) {
      return ''
    }
    if (!size) {
      size = 'xl'
    }
    const result = `${this.imgRoot}${this.city!.ID}/${size}/${ImageID}${ImageExtension}?timestamp=${ImageDateLastUpdated}`;
    if (cssWrap) {
      return `url(${result})`
    } else {
      return result
    }
  }

  reviewFormValid() {
    return this.reviewText && this.reviewText.length > 3 && this.reviewText.length <= 512
  }

  async submitReview() {
    if (!this.reviewFormValid) {
      return
    }
    const api = new CityAPI(this.$store);
    await api.review(this.city.ID, this.reviewText)
    this.writingReview = false
    await this.loadData(this.$route.params.slug)
  }

  async voteUp(voteID: number) {
    if (this.city.UserEmail) {
      const api = new CityAPI(this.$store);
      await api.reviewVote(voteID, +1)
      await this.loadData(this.$route.params.slug)
    } else {
      this.ShowLoginDialog = true
    }
  }
  async voteDown(voteID: number) {
    if (this.city.UserEmail) {
      const api = new CityAPI(this.$store);
      await api.reviewVote(voteID, -1)
      await this.loadData(this.$route.params.slug)
    } else {
      this.ShowLoginDialog = true
    }
  }

  @Watch('myRating')
  onRatingChange() {
    if (this.loading) {
      return
    }
    const api = new CityAPI(this.$store);
    if (this.myRating) {
      api.vote(this.city.ID, this.myRating)
    } else {
      api.vote(this.city.ID, -1)
    }
  }

  @Watch('$route.params.slug')
  onRouteChange() {
    // console.log(`change detected: old=${this.slug} new=${this.$route.params.slug}`)
    this.loadData(this.$route.params.slug)
  }

  getSignInUrl(provider: string) {
    return `${process.env.VUE_APP_LOGIN_ROOT}/Auth/SignIn/${provider}?returnUrl=${encodeURIComponent('/city/' + this.city.Slug)}`
  }

  openGallery(index: number) {
    // @ts-ignore
    this.$refs.lightbox.showImage(index)
  }
}
</script>

<style lang="stylus" scoped>
  #city-page {
    text-align: left;

    .v-list {
      background: inherit;
    }

    #city-info {
      position: relative;
    }

    .review-date {
      float: right
      color: #9FA8DA
      font-weight: bold;
    }

    .v-list--three-line .v-list-item .v-list-item__subtitle, .v-list-item--three-line .v-list-item__subtitle {
      -webkit-line-clamp: 5;
      white-space: pre-line;
    }

    .city-and-country-info {
      display: flex;
      flex-wrap: wrap;

      .other-ratings {
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;

        div:first-child {
          margin-left: 2em;
        }

        .country-rating {
          margin-left: auto;
        }
      }
    }

    #famous-landmarks {
      background-color: #aae0d1
      padding-top: 1.5em !important;
      padding-bottom: 1.5em !important;
      margin-top: 1.85vw;
      margin-bottom: 1vw;
    }

    .cover-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 22em;
      padding-top: 10em;
      padding-left: 4em;
    }

    #add-to-favorites {
      position: absolute;
      top: 20em;
      left: 2em;
      background-color: #FF4E68
      border: solid 2px white;
    }

    h1 {
      font-size: 3em;
      font-weight: bold;
      display: inline-block;
      margin-right: 1.5em;
      padding-top: 0.72em;
      padding-left: 0.6em;
      line-height: 1em;
    }

    h2 {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
    }

    .country-rating {
      display: inline-block;
      float: right;
      margin-right: 3em;

      .rating {
        margin-right: 1.5em;
      }

      h2 {
        display: inline-block;
        padding-top: 0.9em;
        margin-bottom: 0;
        line-height: 1em;
        vertical-align: top;
      }

      #country-flag {
        display: inline-block;
        width: 5em;
        height: 4em;
        //float: left;
        margin-top: 1.7em;
        margin-bottom: -1em;
        margin-right: 1em;
        margin-left: 1.2em;
      }
      #country-flag + .rating {
        padding-top: 1.7em;
      }
    }

    .rating .vote-count {
      padding-left: 0.15em;
    }

    .box {
      display: inline-block;
      vertical-align: top;
      border-radius: 1em;
      padding: 2em;
      margin-right: 3em;

      .rating {
        margin-right: 0;
        padding: 0;
      }

      .v-split {
        margin-left: 2em;
        margin-right: 2em;
        display: inline-block;
        height: 5em;
        border: solid 1px #80CBC4;
        vertical-align: top;
        margin-top: -0.5em;
        margin-bottom: -0.5em;
      }
    }

    .city-stats {

      .box {
        margin-right: 0em;
        margin-left: 1.2em;
        margin-top: 1em;
        width: calc(14.2vw - 2em)
        height: 12vw;
        min-width: 12em;
        background-color: white;

        .rating {
          .vote {
            h3, h4 {
              margin-left: -1em;
              margin-right: -1em;
            }
          }
        }

        &.airports {
          border: solid 2px #BBDEFB;
          background-color: #BBDEFB;

          .v-icon {
            color: #1E88E5;
            transform-origin: 0 0;
            transform: rotate(-45deg) translate(-55%, -35%);
          }
        }

        &.population {
          border: solid 2px #FFE0B2;
          background-color: #FFE0B2;

          .v-icon {
            color: #1E88E5;
            transform-origin: 0 0;
            transform: translate(-50%, -35%);
            opacity: 0.30;
          }
        }

        .v-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 7.5em;
          opacity: 0.3;
        }

        &.recommended-stay {
          border: solid 2px #FFECB3;
          background-color: #FFECB3;

          .v-icon {
            color: #FFB300;
            transform-origin: 0 0;
            transform: translate(-50%, -35%);
          }
        }

        &.required-budget {
          border: solid 2px #aae0d1;
          background-color: #aae0d1;

          .fa-usd-circle {
            color: #2E7D32;
            opacity: 1;
            margin-left: 2px;
            margin-right: 2px;
          }

          .v-icon {
            color: #1B5E20;
            transform-origin: 0 0;
            transform: translate(-50%, -35%); // rotate(-10deg)
            font-size: 7.0em;
            opacity: 0.2;
            z-index: 1;
          }
        }

        &.safety-rating {
          border: solid 2px #FFCCBC;
          background-color: #FFCCBC;

          .v-icon {
            color: #BF360C;
            transform-origin: 0 0;
            transform: translate(-50%, -35%);
            opacity: 0.2;
          }
        }

        &.quality-of-living {
          border: solid 2px #D1C4E9;
          background-color: #D1C4E9;

          .v-icon {
            color: #512DA8;
            transform-origin: 0 0;
            transform: translate(-50%, -35%);
            opacity: 0.15;
          }
        }

        text-align: center;
        position: relative;

        .vote-count {
          position: absolute;
          bottom: 1em;
          left: 1em;
          right: 1em;
          font-weight: bold;
        }

        .rating .vote h3, .rating .vote h4 {
          position: absolute;
          top: 1em;
          left: 1em;
          right: 1em;
          font-size: 2em;
          line-height: 1;
          z-index: 1;
        }
      }

      .box:last-child {
        margin-right: 0;
      }
    }

    .rating {
      display: inline-block;
      margin-right: 2em;
      padding-top: 2em;
      vertical-align: top;

      .star {
        display: inline-block;
        padding-right: 0.7em;
        vertical-align: top;
        padding-top: 1em;

        .fa-star {
          background-color: rgb(227, 188, 23)
          border-radius: 3em;
          color: white;
          padding: 0.8em;
          text-align: center;
          line-height: initial;
          font-size: 70%;
        }
      }

      &.continental-rating .star .fa {
        color: #0097A7
      }
      &.global-rating .star .fa {
        color: #42A5F5
      }

      .vote {
        display: inline-block;
        vertical-align: top;

        h3 {
          font-size: 2.5em;
          margin: 0;
          line-height: 1;

          h5 {
            font-size: 1.3rem;
          }

          em {
            padding-left: 0.2em;
            font-style: normal;
            font-size: 0.5em;
          }
        }

        h4 {
          font-size: 2.5em;
          margin: 0;
          line-height: 1;
          font-weight: bold;

          color: #388E3C;
          cursor: pointer;
        }

        h3 {
          cursor: pointer;
        }
      }
    }

    #my-rating {
      position: relative;
      overflow: visible;

      .v-speed-dial--right {
        right: inherit;
      }

      h4, .star {
        cursor: pointer;
      }

      .v-icon.fa-star {
        background-color: #81C784;
      }

      .v-icon.noVote {
        background-color: #cccccc
      }

    }

    #vote-backdrop {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background-color: black;
      opacity: 0.25;
    }

    #vote-panel {
      z-index: 10;
      margin-left: 1em;
      padding: 1.2em 1.5em 1.2em 1.3em;
      border-radius: 0.3em;
      border: solid 1px #C8E6C9;
      position: absolute;
      background-color: #E8F5E9;
      left: 1.5em;
      top: 1.7em;
      display: inline-flex;

      .v-rating {
        white-space: nowrap;
      }

      .v-icon {
        vertical-align: baseline;
      }

      .spacer {
        background: #A5D6A7;
        width: 2px;
        margin-left: 0.9em;
        margin-right: 0.9em;
        margin-top: -0.6em;
        margin-bottom: -0.6em;
      }

      .v-icon.fa-eraser {
        color: #B71C1C;
        padding: 0.4em 0.4em;
        margin: -0.4em -0.4em;
        margin-right: -0.2em;
        border-radius: 0.3em;
      }
      .v-icon.fa-eraser:hover {
        background-color: #EF5350;
        color: #FFCDD2;
      }

    }

    #image-gallery .image-panel {
      display: inline-block;

      .img {
        border-radius: 15px;
        display: block;
        width: 18.5vw;
        height: 18.5vw;
      }

    }
  }

  #social-networks {
    .v-icon {
      margin-right: 0.3em;
    }
    .v-btn {
      margin-right: 1em;
    }
  }
  @media (min-width: 1024px) {
    #city-page {

      .city-stats {
        .box {
          &.country {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 1150px) {
    #city-page {

      .city-stats {
        .box {
          height: 12vw;
          min-width: 11em;
        }
      }

    }
  }

  @media (max-width: 1023px) {
    #city-page {
      #city-title-panel {
        margin-left: 0.4em;
        h1 + div {
          margin-left: 2em;
        }
        .other-ratings {
          .global-rating {
            margin-left: 0;
          }
        }
      }

      #my-rating {
        #vote-panel {
          left: -8em;
          top: 1.7em;
        }
      }
      h1 {
        display: block;
      }

      .city-stats {
        .box {
          width: calc(32.5% - 1em);
          min-height: 12em;

          &.country {
            padding: 0
            border-radius: 1em
            overflow: hidden

            .rating {
              width: 100%
              height: 100%
            }

            #country-flag {
              width: 100%;
              height: 100%;
              // background-size: cover;
              transform: scaleX(1.3);
              background-position: center;
            }
          }
        }
      }
      #image-gallery {
        margin-left: 0.1em;
      }

      #image-gallery .image-panel {

        margin: 0.5em;
        width: calc(20vw - 1em);

        .img {
          width: 100%;
          height: 19vw
        }
      }
    }
  }

  @media (max-width: 600px) {
    #city-page {
      #city-title-panel {
        font-size: 80%;

        margin-left: 0.4em;
        h1 {
          margin-left: -0.5em;
        }
        h1 + div {
          margin-left: 1.3em;
        }
        #my-rating {
          margin-left: 8.5em;
        }
        .city-ratings {
          .rating {
            .star {
              .v-icon.fa-star {
                font-size: 95%;
              }
            }
          }
        }
        .other-ratings {
          .global-rating {
            margin-left: -0.5em;
            white-space: nowrap;
          }
          .continental-rating {
            margin-left: 7em
            white-space: nowrap;
          }

          .country-rating {
            margin-right: 0;
            #country-flag {
              margin-right: 0
              margin-top: 2.1em;
            }
            white-space: nowrap;
            .rating {
              .vote {
                margin-left: 0.8em;
              }
            }
          }
        }
      }

      #my-rating {
        #vote-panel {
          left: -8em;
          top: 1.7em;
        }
      }
      h1 {
        display: block;
      }

      .city-stats {
        .box {
          width: calc(48% - 1em);
          min-height: 12em;
        }
      }

      #image-gallery .image-panel {

        margin: 1vh;
        width: calc(48% - 1em);

        .img {
          width: 100%;
          height: 40vw
        }
      }
    }
  }


  @media (max-width: 400px) {
    #city-page {
      #city-title-panel {

        #my-rating {
          margin-left: 3em;
        }
        .other-ratings {
          .continental-rating {
            margin-left: 1.6em
            margin-right: 1em;
          }
          .country-rating {
            margin-right: 1em;
            .rating {
              display: none;
            }
          }
        }
      }
      .layout.fill-height .flex.xs12 {
        overflow: hidden
      }
      #image-gallery .image-panel {

        margin: 1vh;
        width: calc(48% - 1em);

        .img {
          width: 100%;
          height: 20vh
        }
      }
    }
  }


  #authenticate .v-card__text {
    text-align: left;
  }
</style>
