<template lang="pug">
  v-container#home(fluid fill-height)
    v-slide-y-transition(mode="out-in")
      v-layout(fill-width fill-height)
        v-flex.hidden-md-and-up
          v-carousel(
            hide-delimiter-background
            show-arrows
            height="100%"
          )
            v-carousel-item(key="top-worldwide")
              v-sheet(height="100%" color="transparent")
                v-layout(row)
                  v-flex
                    #top-cities
                      // v-chip.continent-title(color="primary" text-color="white" label) Top Ranking Cities
                      v-chip.mb-5(color="primary" text-color="white" x-large label) Top Ranking Cities

                      router-link.mb-2.text-xs-left(v-for="(city,index) in TopCities" :key="city.ID" :to="{ name: 'city', params: { slug: city.CitySlug } }")
                        em
                          v-icon star
                          | {{ city.CityRating.toFixed(1) }}
                        v-avatar.mr-2(color="primary" tile size="") {{ index+1 }}
                        | {{ city.CityName }}
            v-carousel-item(v-for="continent in Continents" :key="'top-continent-'+continent.ID")
              v-sheet(height="100%" color="transparent")
                v-layout(row)
                  v-flex
                    div
                      v-chip.continent-title(color="primary" text-color="white" label) {{ continent.NameShort }}
                      div.image-panel(v-for="city in TopCitiesByContinent[continent.ID]")
                        router-link.img(
                          :to="{ name: 'city', params: { slug: city.CitySlug } }"
                          :style="{ backgroundImage: getImageUrl(city) }"
                        )
                          .text-veil
                          .image-title {{ city.CityName }}
                          .rating
                            v-icon star
                            span {{ city.CityRating.toFixed(1) }}

        v-flex.hidden-sm-and-down
          v-layout(row)
            v-flex
              #top-cities
                  router-link.mb-2.text-xs-left(v-for="(city,index) in TopCities" :key="city.ID" :to="{ name: 'city', params: { slug: city.CitySlug } }")
                    em
                      v-icon star
                      | {{ city.CityRating.toFixed(1) }}
                    v-avatar.mr-2(color="primary" tile size="") {{ index+1 }}
                    | {{ city.CityName }}

              div#map-wrapper
                #map-continents
                  ul.continents
                    li.c1(data-continent-id="1") <a href="#africa">Africa</a>
                    li.c2(data-continent-id="2") <a href="#asia">Asia</a>
                    li.c3(data-continent-id="3") <a href="#australia">Australia</a>
                    li.c4(data-continent-id="4") <a href="#europe">Europe</a>
                    li.c5(data-continent-id="5") <a href="#north-america">North America</a>
                    li.c6(data-continent-id="6") <a href="#south-america">South America</a>

          v-layout#continents-list(row)
            v-flex(xs12 sm2 v-for="continent in Continents" :key="continent.ID")
              div(:class="{ dimmed: (SelectedContinent > 0 && continent.HomePageMapID != SelectedContinent), highlighted: (continent.HomePageMapID == SelectedContinent) }")
                v-chip.continent-title(color="primary" text-color="white" label) {{ continent.NameShort }}
                div.image-panel(v-for="city in TopCitiesByContinent[continent.ID]")
                  router-link.img(
                    :to="{ name: 'city', params: { slug: city.CitySlug } }"
                    :style="{ backgroundImage: getImageUrl(city) }"
                  )
                    .text-veil
                    .image-title {{ city.CityName }}
                    .rating
                      v-icon star
                      span {{ city.CityRating.toFixed(1) }}

</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter, Mutation, Action } from 'vuex-class'
import { Continent } from '@/api/models/continent'
import { CityRating, CityRatingAPI } from '@/api/models/cityrating'
import { Config } from '@/code/config'

@Component({
})
export default class HomePage extends Vue {
  @Mutation setLoading: any

  imgRoot = Config.imgRoot

  Continents: Continent[] = []
  TopCities: CityRating[] = []
  TopCitiesByContinent: { [id: number]: CityRating[] } = {}

  SelectedContinent: number = 0

  async mounted() {
    const self = this
    self.setLoading({ready: false})
    Vue.nextTick( () => {
      // @ts-ignore
      jQuery('#map-continents').CSSMap({
        size: 1280,
        responsive: 'auto',
        onClick: (li: any) => self.SelectedContinent = li[0].dataset.continentId,
        onSecondClick: () => self.SelectedContinent = 0,
        // @ts-ignore
        onLoad: () => self.SelectedContinent = jQuery('.continents.cssmap .active-region').data('continent-id')
      });
    }, 1000)

    const api = new CityRatingAPI(this.$store);

    this.Continents = await api.loadContinents()
    this.TopCities = await api.loadTopWorldWide()
    this.TopCitiesByContinent = await api.loadTopCitiesByContinent()
    self.setLoading({ready: true})
  }

  getImageUrl(city: CityRating) {
    if (city.ImageID > 0) {
      return `url(${this.imgRoot}${city.CityID}/sm/${city.ImageID}${city.ImageExtension}?timestamp=${city.ImageDateLastUpdated})`
    } else {
      return `url(${require('@/assets/noimage.png')}`
    }
  }

}
</script>

<style lang="stylus" scoped>
  image-panel-size = 14vw;

  #map-wrapper {
    font-size: 220%;
    font-weight: bold;
    margin-right: 15rem;
  }

  #top-cities {
    float: right;
    width: 15rem;
    margin-top: 3em;
    margin-right: 3em;
    margin-left: -2.5em;

    a {
      display: block;
      color: black;
      text-decoration: none;
      text-align: left;
    }

    font-weight: bold;
    font-size: 1.2rem;

    .v-avatar {
      border-radius: 4px;
      color: white;
      margin-top: -2px;
      margin-bottom: 3px;
      width: 2.1em;
      padding: 0.25em;
    }

    em {
      float: right;
      font-style: normal;
      width: 3.2em;

      .v-icon {
        color: rgb(252,198,40);
        margin-right: 0.2em;
      }
    }
  }

  #continents-list {

    margin-left: 0.5em;
    margin-right: 2em;

    .continent-title {
      border-radius: 15px !important;
      margin: 0

      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;

      width: image-panel-size;
      justify-content: center;
      padding: 1.2em;
    }

    .flex > div {
      padding: 0.5vw;
      padding-top: 1.5vw;
      padding-bottom: 1.5vw;
      display: inline-block;
    }

    .dimmed {
      opacity: 0.5
    }

    .highlighted {
      border-radius: 8px;
      background-color: rgba(0,0,0,0.1)
    }
  }

  @media screen and (max-width: 1025px) {

    #top-cities {
      float: none;
      margin-top: 3em;
      width: 14em;
      margin: 1em auto;

      .v-chip {
        font-size: 1.4rem;
        padding-left: 1.2em;
        padding-right: 1.2em;
      }
    }


    #continents-list {
      .continent-title {
        font-size: 1.1rem;
        span {
          display: block !important;
          width: 100%;
          display: block;
          line-height: 2em;
        }
      }
    }

    .v-carousel__item {
      .image-panel {

        margin: 1vh auto;
        width: 25vh;

        .img {
          width: 25vh
          height: 15vh
        }
      }
    }

    .v-chip__content {

      width: 12vh;
      text-align: center;
      display: inline;
      line-height: 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    #continents-list {
      .continent-title {
        font-size: 0.8rem;
      }
    }

  }

</style>


<style lang="stylus">
  @media screen and (max-width: 1025px) {
    .v-carousel {
      .v-window__prev {
        .v-btn__content {
          margin-left: -0.3em;
          .v-icon {
            font-size: 24px !important;
          }
        }
      }
      .v-window__next {
        .v-btn__content {
          margin-left: +0.1em;
          .v-icon {
            font-size: 24px !important;
          }
        }
      }
    }
  }
</style>