<template lang="pug">
  v-container#about(fluid fill-height)
    v-slide-y-transition(mode="out-in")
      v-layout(justify-center fill-height)
        v-flex.about-page(xs12 sm10 md10)
          h1.mt-3.mb-3.display-2 Citylogue - Privacy Policy

          hr
          br

          .text-left
            h3 Information that is gathered from visitors

            p In common with other websites, log files are stored on the web server saving details such as the visitor's IP address, browser type, referring page and time of visit.

            p Cookies may be used to remember visitor preferences when interacting with the website.

            p Where registration is required, the visitor's email and a username will be stored on the server.

            h3 How the Information is used
            p The information is used to enhance the vistor's experience when using the website to display personalised content and possibly advertising.

            p E-mail addresses will not be sold, rented or leased to 3rd parties.

            p E-mail may be sent to inform you of news of our services or offers by us or our affiliates.

            h3 Visitor Options
            p If you have subscribed to one of our services, you may unsubscribe by following the instructions which are included in e-mail that you receive.

            p You may be able to block cookies via your browser settings but this may prevent you from access to certain features of the website.

            h3 Cookies
            p Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.

            p 3rd party advertising companies may also use cookies for tracking purposes.

            h3 Google Ads
            p Google, as a third party vendor, uses cookies to serve ads.

            p Google's use of the DART cookie enables it to serve ads to visitors based on their visit to sites they visit on the Internet.

            p Website visitors may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.

</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
})
export default class PrivacyPage extends Vue {}
</script>
