<template lang="pug">
div#overlay(v-if="isLoading")
  svg(width="45" height="45" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff")
    g(fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="2")
      circle(cx="22" cy="22" r="6" stroke-opacity="0")
        animate(attributeName="r" begin="1.5s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite")
        animate(attributeName="stroke-opacity" begin="1.5s" dur="3s" values="1;0" calcMode="linear" repeatCount="indefinite")
        animate(attributeName="stroke-width" begin="1.5s" dur="3s" values="2;0" calcMode="linear" repeatCount="indefinite")
      circle(cx="22" cy="22" r="6" stroke-opacity="0")
        animate(attributeName="r" begin="3s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite")
        animate(attributeName="stroke-opacity" begin="3s" dur="3s" values="1;0" calcMode="linear" repeatCount="indefinite")
        animate(attributeName="stroke-width" begin="3s" dur="3s" values="2;0" calcMode="linear" repeatCount="indefinite")
      circle(cx="22" cy="22" r="8")
        animate(attributeName="r" begin="0s" dur="1.5s" values="6;1;2;3;4;5;6" calcMode="linear" repeatCount="indefinite")
  span.loading-indicator-label Loading
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

@Component
export default class Snackbar extends Vue {
    isLoading = false

    @State(state => state.CitylogueData.loading) loading?: boolean

    created() {
        this.$store.watch(state => state.CitylogueData.loading, () => {
            this.isLoading = this.loading!
        })
    }
}
</script>

<style lang="stylus" scoped>
.loading-indicator-label {
  color: white
  font-size: 2em
}

#overlay {
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  z-index: 9999
  transition: all .3s ease
  display: flex
  justify-content: center
  align-items: center
  color: white
  * {
    color: white
  }
}
</style>
