<template lang="pug">
  v-toolbar#page-header(flat)
      router-link.hidden-sm-and-down#logo(:to="{ name: 'home' }")
        //- img#logo(src="@/assets/Logo.png" width="250px")
        v-icon fa-atlas
        h1 CITYLOGUE
      v-spacer.hidden-sm-and-down
      v-autocomplete(v-if="isSearchVisible"
        v-model="selectedCity"
        :loading="isLoading"
        :items="allCities"
        clearable
        label="Where do I want to go"
        append-icon=""
        prepend-icon="search"
        :search-input.sync="searchQuery"
        item-text="CityName"
        item-value="CitySlug"
      )
      v-spacer.hidden-sm-and-down
      //- v-btn.hidden-sm-and-down(fab small depressed color="primary")
      //-   v-icon fab fa-2x fa-pinterest-p
      //- v-btn.hidden-sm-and-down(fab small depressed color="primary")
      //-   v-icon fal fa-2x fa-calendar-alt
      //- v-btn.hidden-sm-and-down(fab small depressed color="primary")
      //-   v-icon fab fa-2x fa-facebook-f
      //- v-btn.hidden-sm-and-down(fab small depressed color="primary")
      //-   v-icon fab fa-2x fa-twitter
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { CityRating, CityRatingAPI } from '@/api/models/cityrating'

@Component({ })
export default class PageHeaderView extends Vue {

  isSearchVisible: boolean = true
  isLoading: boolean = false
  selectedCity: string = ''
  allCities: CityRating[] = []

  searchQuery: string = ''

  @Watch('searchQuery')
  async findCitiesByName(val: string) {
    this.isLoading = true

    const api = new CityRatingAPI(this.$store);
    this.allCities = await api.findByName(val)

    this.isLoading = false
  }

  @Watch('selectedCity')
  selectCity() {
    if (this.selectedCity) {
      this.isSearchVisible = false
      this.$router.push({ name: 'city', params: { slug: this.selectedCity }})
      Vue.nextTick( () => {
        this.selectedCity = ''
        this.isSearchVisible = true
      });
    }
  }
}
</script>

<style lang="stylus">
  #page-header {
    background-color: #fafafa;

    .v-btn {
      margin-left: 0.8em;
    }

    .v-input {
      margin-top: 1.2em;
    }

    #logo {
      text-decoration: none;
      display: inline-flex;

      h1 {
        display: inline-flex;
        margin-left: 0.3em;
      }

      .v-icon {
        color: #1976d2;
      }
    }
  }
</style>
