<template lang="pug">
    v-snackbar(v-model="snackbar" :color="color" :timeout="timeout"
        :multi-line="false" :vertical="true")
        span {{ message }}
        v-btn(dark text @click="snackbar = false") Close
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

@Component
export default class Snackbar extends Vue {
    snackbar = false

    @State(state => state.Snackbar.message) message?: string
    @State(state => state.Snackbar.color) color?: string
    @State(state => state.Snackbar.timeout) timeout?: number
    @State(state => state.Snackbar.rnd) rnd?: Date

    created() {
        this.$store.watch(state => state.Snackbar.message, () => {
            const message = this.$store.state.Snackbar.message
            if (message !== '') {
                this.snackbar = true
            }
        })
        this.$store.watch(state => state.Snackbar.rnd, () => {
            const message = this.$store.state.Snackbar.message
            if (message !== '') {
                this.snackbar = true
            }
        })
    }
}
</script>