@font-face {
  font-family: Gotham;
  src: url(GothamPro.eot);
  src: url(GothamPro.woff2) format("woff2"),url(GothamPro.woff) format("woff"),url(GothamPro.ttf) format("truetype"),url(GothamPro.eot?#iefix) format("embedded-opentype");
  font-weight: 200;
  font-style: normal
}
