<template lang="pug">
  v-app#citylogue.app(:dark="dark")
    v-slide-y-transition(mode="out-in")
    div#loading
      loading-indicator

    v-content
      page-header
      router-view

    snackbar
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { State, Getter, Mutation, Action } from 'vuex-class'
import store from '@/store'
import { AuthState } from '@/store/auth'
import Snackbar from '@/components/Snackbar.vue'
import PageHeader from '@/components/PageHeader.vue'
import loadingIndicator from '@/components/LoadingIndicator.vue'

interface RouteState {
  name: string
  path: string
  hash: string
  query: string
  params: object
  fullPath: string
  meta: object
}

@Component({
  components: { Snackbar, PageHeader, loadingIndicator },
})
export default class App extends Vue {
  @State route?: RouteState
  @State auth?: AuthState
  @Getter loggedIn?: boolean
  @Getter userName?: string
  @Mutation logout: any
  @Mutation showSnackbar: any
  @Action checkToken: any

  dark = false
  drawer = false
  fixed = false

  async created() {
    // todo
  }

  async mounted() {
    // todo
  }

}
</script>

<style lang="stylus">
  image-panel-size = 14vw;
  image-panel-padding = 1vw;

  body {
    font-size: 12px;
  }

  #citylogue {
    font-family: 'Gotham', Helvetica, Arial, sans-serif

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color #2c3e50

    .app-toolbar {
      border-bottom: 1px solid lightgray !important
    }

    .container {
      padding: 0
      margin: 0
    }

    .v-btn--bottom:not(.v-btn--absolute) {
      z-index: 99;
    }
  }

  #nav {
    .v-list__tile, .theme--light.v-icon, a {
      color: rgb(63, 81, 181) !important
    }
    .v-list__tile__title {
      color: black !important
      font-weight: bold
      font-family: 'Gotham', Helvetica, Arial, sans-serif
      font-size: 120%
    }
  }

  .item-calendar .v-icon {
    margin-left: -216px;
  }

  #citylogue {

    h1, .v-toolbar__title {
      font-weight: bold;
      font-family: 'Gotham', Helvetica, Arial, sans-serif !important
      font-size: 350%;
    }

    .v-toolbar__content .v-icon {
      font-size: 300%;
    }

  }

  .image-panel {
    margin: image-panel-padding;

    .img {
      border-radius: 15px;
      display: block;
      width: image-panel-size;
      height: image-panel-size;
      background: no-repeat center center;
      background-size: cover;
      position: relative;
    }

    .text-veil {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent, black);
      opacity: 0.8;
      height: 3.5vw;
      border-radius: 15px;
    }

    .image-title {
      font-family: 'Gotham', Helvetica, Arial, sans-serif;
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      color: white;
      font-size: 1.4rem;
      white-space: nowrap;
    }

    .rating {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      color: white;
      font-size: 3rem;
      text-shadow: 0 0 8px black, 0 0 8px black, 0 0 8px white;

      white-space: nowrap;

      .v-icon {
        color: rgb(252,198,40);
        font-size: 3rem;
        padding-bottom: 0.3rem;
        padding-right: 0.4rem;
      }
    }

    a:hover .rating {
      opacity: 1;
    }

  }

  @media screen and (max-width: 1024px) {
    .image-panel {
      .image-title {
        font-size: 1.1rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .image-panel {
      .image-title {
        font-size: 0.8rem;
      }
    }
  }

</style>
